<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="com.httpmethods.tradeix" >
        <classes>
            <class name="com.httpmethods.tradeix.Verify_employee_deletion"/>
            <class name="com.httpmethods.tradeix.Create_new_employee" />
            <class name="com.httpmethods.tradeix.Verify_employee_creation" />
            <class name="com.httpmethods.tradeix.Verify_employee_update" />
        </classes>
    </test>

</suite>
